AuthUserFile /dev/null
AuthGroupFile /dev/null
AuthName "WordPress Admin Access Control"
AuthType Basic
<LIMIT GET>
order deny,allow
deny from all
# whitelist Meni's Computer
allow from 212.179.121.90
# whitelist Meni's MAC
allow from 31.154.236.84
</LIMIT>
