/*
 Theme Name:   Twenty Twenty-One Child Theme
 Theme URI:    https://wordpress.org/themes/twentytwentyone/
 Description:  TTwenty Twenty-One Child Theme
 Author:       Meni Nuriel
 Template:     twentytwentyone
 Version:      2.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         Yashir Child 
 Text Domain:  twentytwentyonechild
*/

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* Variables */

:root {
  /* Font Family */
  --yashir--font-primary: Arimo, Roboto, sans-serif;
  --global--font-primary: Arimo, Roboto, sans-serif;
  --global--font-secondary: Arimo, Roboto, sans-serif;
  --heading--font-family: var(--global--font-primary);
  --yashir--purple-color: #1e285a;
  --yashir--red-color: #ff375c;
  --yashir--blue-color: #5d3bff;
  --yashir--white-color: #ffffff;
}

/* Spacing */
.mb-0 {
  margin-bottom: 0 !important;
}
.ma-0 {
  margin: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mr-8vw {
  margin-right: 5vw !important;
  margin-left: 0 !important;
  position: relative;
  z-index: 5;
}
.pa-0 {
  padding: 0 !important;
}
.f-title {
  font-size: 4vw !important;
}
.f-text {
  font-size: 3.3vw !important;
}
.entry-header.alignfull .post-thumbnail {
  width: 100%;
}

#masthead {
  display: none !important;
}

#main {
  padding-top: 0 !important;
}

/* Overlay Image */
.overlay-image {
  position: relative;
}
.overlay-image .wp-block-cover__inner-container,
.overlay-image .wp-block-cover__inner-container > * {
  max-width: 60vw !important;
}

.overlay-image-image {
  height: 0 !important;
  width: 0 !important;
}

.overlay-image-image > img {
  height: 40vw;
  max-height: 550px;
  width: auto !important;
  position: absolute;
  top: 3vw;
  left: 5vw;
}

.site-footer {
  padding-bottom: 0;
  font-size: 0.85rem;
}

.site-footer .site-logo {
  padding-left: 2rem;
  padding-right: 2rem;
}

.wp-block-cover.transparen-overlay.has-background-dim:not([class*="-background-color"]),
.wp-block-cover.transparen-overlay {
  background-color: transparent;
  justify-content: flex-start;
}

.mobile-bg .wp-block-cover__inner-container {
  width: 55%;
  margin-right: 1rem;
  text-align: right;
}

.desktop-bg .wp-block-cover__inner-container {
  width: 55%;
  margin-right: 3rem;
  text-align: right;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.wp-block-group__inner-container .header-text {
  top: 2rem;
  right: 2rem;
  width: 56% !important;
  color: var(--yashir--purple-color);
}

.header-text .top-text.header-1 p {
  font-size: 7.5vw;
  margin: 0;
  line-height: 0.9;
}

.header-text .top-text.header-2 {
  margin-top: 0.85rem;
}
.header-text .top-text.header-2 p {
  font-size: 4.5vw;
  margin: 0;
  line-height: 0.9;
}

/* RESPONSIVE DESIGN */
@media all and (min-width: 880px) {
  .xs-down {
    display: none !important;
  }

  .xs-up {
    display: block !important;
  }

  .logo-main {
    top: 4.55rem;
    right: 1rem;
  }

  .header-text .top-text.header-1 p {
    font-size: 6vw;
  }

  .wp-block-image.xs-up {
    padding-top: 54px;
  }

  .wp-block-group.header-text {
    top: 2.5rem;
    right: 11rem;
  }

  /* Overlay Image */
  .overlay-image {
    min-height: 42vw;
  }

  .overlay-image-image {
    height: 36vw;
  }
}

@media all and (min-width: 1000px) {
  .wp-block-group.header-text {
    right: 12rem;
  }
}

@media all and (min-width: 1180px) {
  .wp-block-group.header-text {
    top: calc(1.5rem + 5vw);
  }

  .logo-main {
    top: calc(3.5rem + 5vw);
    right: 2rem;
  }

  .header-text .top-text.header-1 p {
    font-size: 74px;
  }

  .header-text .top-text.header-2 p {
    font-size: 52px;
  }
}

@media all and (max-width: 879.9px) {
  .xs-down {
    display: block !important;
  }

  .xs-up {
    display: none !important;
  }

  .logo-main {
    right: 2rem;
  }

  .wp-block-group.header-text {
    top: 4rem;
  }

  .site-footer .site-logo {
    float: none;
    text-align: center;
  }

  .site-footer {
    font-size: 0.55rem;
  }

  .overlay-image:before {
    opacity: 0.4 !important;
  }

  .overlay-image-image > img {
    height: 340px;
    top: auto;
    bottom: 3vw !important;
  }

  .f-text {
    font-size: calc(10px + 2.4vw) !important;
  }

  .overlay-image .wp-block-cover__inner-container,
  .overlay-image .wp-block-cover__inner-container > * {
    max-width: 100vw !important;
  }
}

@media screen and (max-width: 481px) {
  .wp-block-spacer.xs-down {
    min-height: 300px;
  }

  .header-text .top-text.header-1 p {
    font-size: 5.75vw;
  }

  .header-text .top-text.header-2 p {
    font-size: 4vw;
  }

  section.nls-hunter-fbf-wrapper form > .form-section img.xs-down {
    top: -70px;
    width: 168px;
  }
}
